.mydiv1{
    width: 300px;
    height: 350px;
    background-color:rgb(36, 40, 46); 
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5%;  
}
#mybtn1{
    width: 100%;
    margin-top: 5px;
    background-color: #067280;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;  
    border-radius: 10px;  
    margin-left: 10px;
    
}
#mybtn1:hover{
    background:rgb(238, 238, 174);
    color: black;
    cursor: pointer;
}
a{
    text-decoration: none;
    